/* POPUP: select user language*/

.popupLang {
    z-index: 99999!important;
}
.popupLang .window_popup_messager {
    height: 230px;
    width: 500px;
    padding: 40px;
    box-sizing: border-box;
}
.popupLang h2 {
    margin: 0 0 15px 0;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.popupLang span {
    font-weight: 500 !important;
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}
.popupLang arrow {
    margin: 5px 0;
    width: 62%;
}
.popupLang arrow:after {
    top: 9px;
}
.popupLang arrow select {
    height: 40px;
    box-shadow: none;
    color: #333;
    font-weight: 600;
}
.popupLang .btn_submit {
    font-size: 16px !important;
    font-weight: 600 !important;
    min-width: 35%;
    height: 40px;
    float: left;
    margin: 5px 0 5px 10px;
}
/* LANDING PAGE - ONE PAGE (without login)*/

.onePgLanding {
    height: 100vh;
    width: 100vw;
    /* height:750px !important;*/
    
    position: relative !important;
    margin: 0 auto;
    top: 0;
    padding: 0;
    z-index: 11;
}
/*.onePgLanding .logoNOlogin{margin-top: 10px;}*/

.onePgLanding .onePgTitle {
    text-align: center;
    /*padding: 200px 0 0 0;*/
    padding: 18% 0 0 0;
}
.onePgLanding .onePgTitle h1 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.onePgLanding .searchHeader {
    display: inline-block !important;
    float: none;
    width: 100%;
    text-align: center;
    /*padding: 0 0 280px 0;*/
    padding: 0;
}
.onePgLanding .searchHeader .searchGeral {
    float: none;
}
.onePgLanding .searchHeader .searchGeral .iconSearch {
    padding: 9px 20px;
    font-size: 1.3em;
    height: 50px;
}
.onePgLanding .searchHeader .searchGeral .activeSearch {
    padding: 0 100px 0 15px !important;
}
.onePgLanding .searchHeader .searchGeral input[type="text"] {
    width: 750px;
    height: 50px;
    font-size: 18px;
    padding: 0 0 0 15px;
}
.onePgLanding .searchHeader .searchGeral .cleanSearch {
    right: 63px;
    top: 0;
    padding: 10px;
    font-size: 1.3em;
}
/* POP-UP VIDEO */

.transparency,
.popup_video {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999 !important;
    cursor: default;
}
.window_popup_video {
    background: #fff;
    min-height: 150px;
    height: auto;
    margin: auto;
    padding: 2%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
}
.window_popup_video p {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: -15px 0 10px 0;
}
/* popup videos */

.adaptPopup {
    min-height: 450px !important;
    margin: 4em auto 0 auto !important;
    width: 890px;
}
.content_video {
    color: #333;
    height: auto;
    text-align: center;
}
.content_video p {
    display: inline;
    font-size: 0.875em;
    font-weight: 500;
}
.area_buttons_video {
    display: inline-block;
    width: 98%;
}
.checkbox_video {
    display: inline-block;
    width: auto;
    margin-left: 1%;
    width: 100%;
}
.button_video {
    display: inline;
    margin-left: 10px;
}
.button_video span {
    font-weight: 500;
}
.button_video .btn_submit {
    margin: 0 0 0 5px;
    float: right;
}
.listVideos {
    float: left;
    width: 180px;
    display: inline-block;
    margin-right: 20px;
}
.fullVideo {
    float: left;
    width: 73%;
    display: inline-block;
}
.fullVideo h3 {
    float: left;
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 600;
}
.previewVideo {
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}
.previewVideo p {
    font-size: 0.875em;
    font-weight: 500;
    color: #333;
    text-align: left;
    float: left;
    margin: 0;
    width: 100%;
}
.previewVideo:hover {
    background-color: #f3f3f3;
}
.previewVideoActive {
    background-color: #fec532;
    margin-left: -10px;
}
.previewVideoActive:hover {
    background-color: #fec532;
}
.previewVideoActive p {
    font-weight: 600;
}
.previewVideoActive p:hover {
    background-color: transparent;
}
.arrowVideo {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 18px solid #fec532;
    position: absolute;
    margin: -5px 0 0 184px;
}
/* HEADER NOLOGIN */

.header_nologin {
    width: 100%;
    border-bottom: 1px #222 solid;
}
.header_bar {
    background-color: #333;
    height: 51px;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    box-shadow: 0px 2px 1px 0px #2b2b2b;
    display: block;
}
.menu_icon {
    display: inline-block;
    width: 15%;
    position: relative;
}
.icon_user {
    padding-top: 15px;
    cursor: pointer!important;
}
.no_pre_actor {
    margin-top: 50px;
}
.btn_notification .icon_user {
    opacity: 1;
}
.btn_notification .icon_user:hover {
    opacity: 0.9;
}
/* BANNER centroproduto */

.bannerCP {
    margin-top: 55px;
    padding: 0 0 20px 0;
    left: 0;
    color: #fff;
    /*height: calc(100vh - 55px);*/
    height: 630px;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
}
.bannerCP img {
    margin: 80px 0 0 0;
    opacity: 0.7;
    position: relative;
    max-width: 100%;
    max-height: 600px;
}
.allBanner {
    width: 1225px;
    margin: 0 auto;
}
.bannerBlock1,
.bannerBlock2 {
    position: absolute;
    z-index: 9;
    height: 630px;
    width: 50%;
}
.bannerBlock1 {
    float: left;
    left: 0;
}
.bannerBlock2 {
    float: right;
    right: 0;
}
.bannerBlock {
    width: 600px;
    height: auto;
}
.bannerBlock1 .bannerBlock {
    float: right;
}
.bannerBlock2 .bannerBlock {
    float: left;
}
.bannerBlock1 button.btn_submit,
.bannerBlock1 .btnFeed {
    text-align: center;
    margin: 15px auto 0 auto;
    background-color: #777;
    min-width: 340px;
    padding: 8px;
    min-height: 50px;
    font-size: 13px;
    float: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3), 1px 1px 1px rgba(0, 0, 0, .6);
}
.bannerBlock1 .btnFeed {
    display: inline-block;
    box-sizing: border-box;
}
.bannerBlock1 .btn_submit:hover {
    background-color: #444;
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, .2);
}
.bannerBlock1 .btnFeed:hover { 
  background-color: #666;
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, .2);
}
.bannerBlock1 .btn_submit h2,
.bannerBlock1 .btnFeed h2 {
    margin: -2px 0 0 0;
    display: inline-block;
    font-size: 1.5em;
    font-weight: 700;
    width: 100%;
    color: #fff;
    float: left;
    text-align: center;
    position: relative;
}
.slogan {
    text-align: left;
}
.slogan h1 {
    margin: 60px 3% 30px 3%;
    font-weight: 800;
    font-size: 30px;
    color: #333;
    overflow: hidden;
    width: 94%;
    height: 3em;
    text-align: center;
}
/* IE */

html[data-useragent*='MSIE 10.0'] .slogan h1 {
    font-size: 1.1em !important;
}
html[data-useragent*='rv:11.0'] .slogan h1 {
    font-size: 1.1em !important;
}
/* mozilla */

@-moz-document url-prefix() {
    .slogan h1 {
        font-size: 1.1em !important;
    }
}
.preRegister {
    background-color: #fff;
    padding: 15px;
    width: 430px;
    display: inline-block;
    margin: 80px auto 0 auto;
    box-sizing: border-box;
    height: 180px;
}
.preRegister h2 {
    color: #333;
    margin: -5px 0 15px 0;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    padding: 0 2%;
    text-align: center;
    box-sizing: border-box;
}
.preRegister button[type="button"] {
    font-weight: 600;
    margin-top: 10px;
    height: 45px;
}
.preRegister .preRegisterBTN h2 {
    margin: 0 !important;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    padding: 0;
}
.preRegisterSmall {
    z-index: 999;
    width: 340px;
    margin: -38px 0 7px 8px;
    position: relative;
    top: -4px;
    height: 150px;
}
.preRegisterSmall h2 {
    font-size: 20px !important;
}
.preRegisterSmall button.btn_submit {
    height: 40px;
}
.preRegisterSmall button.btn_submit h2 {
    font-size: 18px !important;
}
.preRegister .preRegisterBTN,
.preRegisterSmall button.btn_submit {
    min-width: 35%;
    background-color: #a3d35e;
    display: block !important;
    margin: auto;
    text-align: center;
    float: none;
    padding: 5px 15px;
}
.preRegisterFeed {
    position: fixed;
    margin: 75px 0 0 13px !important;
    z-index: 999 !important;
    width: 341px !important;
}
/* INICIAL POPUP (3 steps) */

.popupSteps {
    width: 800px !important;
}
.popupSteps h2 {
    text-align: center;
    font-weight: 500;
    margin: 10px 0 20px 0;
    font-size: 1.7em;
}
.stepPOPUPinicial {
    width: 33%;
    float: left;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}
.numberStep {
    width: 28px;
    margin: 0 auto;
    border-radius: 17px;
    height: 24px;
    padding-top: 3px;
    border: 4px #ccc solid;
    color: #888;
    font-weight: 700;
}
.numberStepActive {
    color: #ffc517;
    border: 4px #ffc517 solid;
}
.ST1Area {
    margin: 30px 0 0 0;
    display: inline-block;
}
.ST1 {
    padding: 22px 10px;
    height: 55px;
    background-color: #ddd;
    min-width: 243px;
    max-width: 220px;
    display: inline-block;
    color: #777;
}
.ST1 .arrowRight {
    margin: -22px 0 0 10px !important;
    border-top: 50px solid transparent !important;
    border-bottom: 49px solid transparent !important;
    border-left: 39px solid #bbb;
}
.ST1 .arrowRightL {
    margin: -22px 0 0 -11px !important;
    border-top: 50px solid transparent !important;
    border-bottom: 50px solid transparent !important;
    border-left: 40px solid #fff !important;
}
.iconST {
    float: left;
    display: inline-block;
    margin: 10px 10px 0 7px;
    font-size: 1.2em;
}
.infoST {
    display: inline-block;
    width: 77%;
    float: left;
    text-align: left;
    height: 55px;
}
.infoST span {
    line-height: 20px;
    font-size: 1em;
    display: block;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: relative;
}
.ST1Active {
    background-color: #ffc517 !important;
    color: #333 !important;
    cursor: pointer;
}
.ST1Active:hover {
    opacity: 0.6;
}
.ST1ArrowActive {
    border-left: 39px #ffc517 solid !important;
}
.showPopupST {
    margin-top: 80px;
    width: 80%;
    float: left;
    display: inline-block;
}
.showPopupST .checkWhite,
.showPopupST .checkWhite_active {
    float: left !important;
    display: inline-block;
    margin: 2px 5px 0 0 !important;
}
.showPopupST span {
    font-weight: 400 !important;
    width: 95%;
    text-align: left;
    display: inline-block;
    color: #666;
    clear: left;
    top: -2px;
    margin-left: 2px;
    position: relative;
}
/* ELEARNING AREA */

.elearningArea {
    background-color: #fff;
    color: #333;
    width: 100%;
    min-height: 160px;
    display: inline-block;
    float: left;
}
.elearningArea .closed_popup {
    margin: 3px 3px 0 0 !important;
    opacity: 0.2;
}
.elearningAreaInfo {
    width: 100%;
    padding: 0;
    display: block;
    margin: auto;
    text-align: center;
}
.iconElearn {
    float: left;
    width: 35px;
    height: 30px;
}
.iconElearn i {
    font-size: 1.5em;
    padding: 18px 0 0 0;
}
.elearningArea .iconElearn img {
    width: 30px !important;
    margin-top: 12px !important;
}
.infoElearn {
    font-size: 2em;
    display: inline-block;
}
.infoElearn span {
    font-weight: 600;
    font-size: 22px;
    padding: 10px 0 0 5px;
    text-align: left;
}
.elearningArea .btn_submit {
    font-weight: 600 !important;
    float: none;
    min-width: 150px;
    font-size: 16px;
}
.btn_prevPlan {
    float: left !important;
    margin: 20px 0 0 44px !important;
    font-size: 16px !important;
}
.btn_prev {
    background-color: transparent !important;
    border: 1px #df9c00 solid !important;
    color: #df9c00 !important;
    padding: 4px 10px !important;
    margin: 0 5px 0 0 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}
.previewBar {
    position: fixed;
    z-index: 999999;
    background-color: rgb(255, 242, 210);
    padding: 5px 3%;
    text-align: center;
    top: 0;
    min-height: 41px;
    box-sizing: border-box;
}
.previewBar button.btn_submit {
    float: none;
    font-size: 0.9em;
    padding: 6px 12px;
    color: #987625;
    text-transform: uppercase;
    font-weight: 600;
}
.previewBar button.btn_reset {
    float: none;
    background-color: transparent;
    font-size: 14px;
}
.previewBar button.btn_reset:hover {
    text-decoration: underline;
}
.previewBar button.btn_reset i {
    margin-right: 3px;
    top: -1px;
    position: relative;
}
.previewBar .infoBar {
    padding: 0 50px;
    float: none;
    display: inline;
    font-size: 15px;
}
.previewBar .infoBar .urlCompany {
    position: relative;
    font-weight: bold;
    color: #333;
    display: inline;
    padding: 0 15px 0 0;
}
.previewBar .infoBar span {
    position: relative;
}
/* COUNTRY products */

.country_landing {
    display: table;
    width: 100%;
    margin: 4px 0 5px 3px;
    box-sizing: border-box;
    padding: 0px 7px 0 0;
    clear: both;
    position: relative;
}
.country_landing .tb_cell {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.country_landing .tb_cell1 {
    width: 31%;
}
.country_landing span {
    float: left;
    color: #999;
    padding: 7px 5px 7px 0;
    font-weight: 400;
    font-size: 15px;
}
.country_landing arrow {
    margin-right: 5px;
    height: auto;
}
.country_landing select {
    background-color: #f3f3f3;
    border: 1px #ebebeb solid;
    height: 35px;
}
.country_landing arrow:after {
    font-weight: 600;
    top: 7px;
}
.country_landing .viewDetails {
    padding: 6px 8px;
    margin: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.country_landing .viewDetails i,
.country_landing .viewDetails p {
    float: none;
    display: inline;
}
.country_landing .viewDetails p {
    top: -2px;
    position: relative;
    font-size: 14px;
}
/* CONTENT landing page */

.content_lp {
    background-color: #fff;
    margin: 0;
    min-height: 100px;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    float: left;
    position: relative;
}
.content_lp .barExpande {
    min-height: 50px;
    padding: 14px 15px 0 15px;
}
/* ROW */

.bricksLanding {
    float: left;
    width: 1217px;
    margin-bottom: 5px;
}
.row_lp {
    width: 1218px;
    margin: 0 auto;
    color: #fff;
    padding: 0;
    position: relative;
}
.images_ladingPage {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-left: 2px;
}
.images_ladingPage .image_lp {
    border: 1px #fff solid;
}
.refreshBTN {
    display: inline-block;
}
.refreshBTN h3 {
    width: auto;
    float: left;
    margin: 8px 0 0 0;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 600;
}
.refresh_products {
    color: #fff;
    background-color: #999;
    width: auto;
    float: right;
    margin: 3px 15px 0 0;
    padding: 4px 8px;
    display: inline-block;
    cursor: pointer;
}
.refresh_products span {
    font-weight: 600;
    margin: 4px 0 -11px 0;
    font-size: 13px;
    line-height: 16px;
    width: 82%;
    max-height: 2.5em;
}
.refreshLanding {
    opacity: 0.5;
}
.refreshLanding_selected {
    background-color: #999;
    color: #fff;
}
.allLoaded {
    opacity: 1;
}
.arrowRightL {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    margin-left: -8px;
    float: left;
}
.arrowRight {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #999;
    float: right;
    display: inline-block;
    margin-left: 22px;
    position: absolute;
}
.backImgs {
    float: left;
    background-color: #999;
    padding: 9px 5px;
    margin: 3px 5px 0 0;
    cursor: pointer;
}
.backImgs i {
    color: #fff;
}
.brickBtn_position {
    margin-right: 5px !important;
    margin-left: 0px !important;
    width: 229px;
    padding-top: 0px;
    padding-bottom: 1px;
    min-height: 40px;
    height: 2.2em;
}
@-moz-document url-prefix() {
    .brickBtn_position {
        line-height: 1.1;
    }
}
.loadICON {
    display: inline-block;
    margin: 10px 5px 0 0;
    float: left;
}
.image_lp {
    background-color: #fff;
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    border: 1px #f3f3f3 solid;
    float: left;
}
.productInfo {
    background-color: rgba(0, 0, 0, 0.3);
    height: 200px;
    padding: 0 2%;
    width: 96%;
    opacity: 1;
    overflow: hidden;
    text-align: center;
}
.productInfo h2 {
    width: 100%;
    max-height: 4em;
    font-size: 1em;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
    color: #fff;
}
.productInfo h3 {
    width: 100%;
    font-size: 0.85em;
    font-weight: 700;
    color: #fff;
    word-wrap: break-word;
    margin: 0 0 5px 0;
    line-height: 18px;
    color: #fff;
    max-height: 2.5em;
}
.productInfo h4 {
    margin: 5px 0;
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2px 5px;
    display: inline;
}
.productInfo h5 {
    margin: 0 0 5px 0;
    width: 100%;
    font-size: 0.85em;
    color: #fff;
}
.productInfo p {
    width: 100%;
    margin: 5px 0 0 0;
    color: #fff;
    max-height: 4.5em;
}
.productInfo.ng-hide {
    opacity: 0;
}
.productInfo .priceArea {
    width: 100%;
    top: 0;
    height: auto;
    margin: 5px 0 0 0;
    text-align: center;
    float: none;
}
.productInfo .priceArea .price {
    float: none;
    font-size: 0.85em;
    padding: 2px 4px;
}
.productInfo .price b {
    width: auto;
    height: 20px;
    font-weight: bold;
}
.productInfo .price span {
    width: auto;
    color: #fff !important;
    font-size: 0.9em;
}
.follow_lp .landFollow {
    top: 10px !important;
}
.brick_line {
    background-color: #f3f3f3;
    color: #333;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
.brick_line:hover {
    background-color: #eee;
}
.brick_line a {
    color: #333;
    width: 100%;
    display: inline-block;
    margin: 3px 0 0 0;
}
.brick_line .brick_name {
    max-width: 80%;
    float: left;
    display: inline-block;
}
.brick_line .brick_name h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    max-width: 100%;
    float: left;
    display: inline-block;
}
.brick_line .count_brick {
    display: inline-block;
    font-size: 0.9em;
    text-align: center;
    float: left;
    padding: 0 5px;
}
.brick_line .count_brick span {
    padding: 1px 0;
    font-weight: 600;
    color: #777;
}
.brick_line .brick_icon {
    float: left;
    display: inline-block;
    margin-left: 5px;
    color: #666;
    width: 2%;
    text-align: center;
    cursor: pointer;
}
.brick_line .brick_icon i {
    font-weight: 600;
    font-size: 20px;
}
.brick_line .landFollow {
    z-index: 1;
    float: right;
    position: absolute;
    right: 20px;
    top: 11px;
}
.brick_line .landFollow .btn_follow,
.brick_line .landFollow .btn_following,
.brick_line .landFollow .btn_unfollow {
    font-size: 14px;
    height: 30px;
}
.barExpande {
    margin: 0;
    width: 100%;
    background-color: #888;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
}
.barExpande:hover {
    background-color: #666;
}
.barExpandeOpen {
    background-color: #555;
}
.barExpande h2 {
    font-weight: 700;
    width: auto;
    float: left;
    margin: -4px 0 0 5px;
    font-size: 1.2em;
}
.expandeArea {
    width: 100%;
    margin: 0 auto;
}
.btn_expande {
    background-color: transparent;
    width: 3%;
    float: left;
    margin: -10px 0;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}
.btn_expande:hover {
    background-color: #666;
}
.barExpandeWhite {
    padding: 7px 10px;
    width: 850px;
    float: left;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.barExpandeWhite:hover{background-color: #fbfbfb;}

.barExpandeWhite .btn_expande {
    margin-top: -6px;
}
.barExpandeWhite .btn_expande:hover {
    background-color: transparent;
}
.barExpandeWhite .btn_expande i {
    border-radius: 0;
    background-color: transparent;
    padding: 0 5px;
    color: #666;
    margin: 5px 0 0 5px;
}
/* CONTACT THIS COMPANY (views) */

.largeContactBtn {
    margin: 0px 0 6px;
    float: left;
    width: 430px;
}
.largeContactBtn .btn_submit {
    width: 100%;
    font-size: 1.3em;
    padding: 0 5px;
    height: 70px;
}
.largeContactBtn .btn_submit div {
    text-align: center;
    margin: auto;
    width: 100%;
    position: relative;
}
.largeContactBtn .btn_submit div h3 {
    top: 2px;
    margin: 0;
    display: inline;
    position: relative;
    font-weight: 600;
}
.largeContactBtn .btn_submit div i {
    display: inline-block;
    padding: 7px 2px 0 5px;
    position: relative;
    top: -2px;
    font-size: 1.1em;
}
.largeContactBtn .btn_submit span {
    margin: 0;
    font-size: 0.8em;
    font-weight: 400;
    width: 100%;
    display: inline-block;
}
/* recaptcha landing */

.recaptchaRegister {
    margin: 5px 0 -6px 0;
}
/* OFFERs */

.optionOffer {
    margin: 10px 5px 0 15px;
    float: left;
}
.optionOffer span {
    color: #555;
    font-weight: 600;
}
.optionOffer a {
    color: #df9c00;
    margin-left: 10px;
    font-weight: 600;
}
.optionOffer a:hover,
.optionOffer a:visited {
    color: #df9c00 !important;
}
.globalOffers {
    margin-top: -7px;
    min-height: auto;
}
.globalOffers h2 {
    margin: 5px 0 2px 0;
    font-size: 1.2em;
    font-weight: 500;
}
.globalOffers ul {
    display: inline-block;
    width: 86%;
    list-style: initial;
    margin: 5px 0 10px 0;
}
.globalOffers li {
    font-size: 0.75em;
    margin-bottom: 2px;
    width: 100%;
    color: #777;
}
.globalOffers .bfItemLang {
    margin-top: 10px;
}
.globalOffers .bfItemLang span {
    float: left;
    margin: 6px 0 2px 0;
    font-weight: 400;
    font-size: 0.85em;
    width: 100%;
}
.globalOffers .bfItemLang arrow {
    width: 150px !important;
}
.globalOffers .classItem {
    width: 50%;
}
.globalOffers .classItem .classItemC span {
    margin: 3px 0 0 10px;
    font-size: 0.82em;
}
.globalOffers .bfItemName {
    margin-top: 20px;
}
.globalOffers input[type="text"] {
    margin: 0;
    height: 40px;
}
.globalOffers input[type="text"]:focus {
    border: 1px #ffc517 solid !important;
}
.globalOffers textarea {
    margin-bottom: 5px;
    box-sizing: content-box;
    width: 98%;
}
.globalOffers .btn_reset {
    float: right;
    margin-right: 5px;
}
.globalOffers .btn_submit {
    margin: 0;
    font-size: 18px;
    padding: 8px 15px;
}
.content_lp .globalOffers {
    width: 49%;
    box-shadow: none;
    margin: 0 0 50px 0;
    padding: 8px 0 0 15px;
}
.content_lp .globalOffers p {
    margin: 0 0 3px 0;
    font-weight: 500;
    color: #000;
    font-size: 0.9em;
}
.content_lp .globalOffers arrow {
    width: 286px;
    margin: 2px 4px 0 0;
}
.content_lp .globalOffers select {
    margin-bottom: 3px;
}
.content_lp .globalOffers .classItem {
    width: 100%;
}
.globalOffers .offerInsert1,
.globalOffers .offerInsert2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.globalOffers .offerInsert1 input[type="text"] {
    width: 49%;
    float: left;
}
.globalOffers .offerInsert2 input[type="text"] {
    width: 99%;
    margin-left: 1%;
}
.content_lp .globalOffers .offerInsert1,
.content_lp .globalOffers .offerInsert2 {
    width: 101%;
    float: left;
    margin-top: 0;
}
.content_lp .globalOffers .offerInsert1 input[type="text"] {
    width: 49%;
    float: left;
}
.content_lp .globalOffers .offerInsert2 input[type="text"] {
    width: 99%;
    margin: 6px 0;
    float: left;
}
.content_lp .globalOffers .btn_submit {
    margin: 0;
    font-size: 18px;
    padding: 8px 15px;
}
.content_lp .globalOffers textarea {
    min-height: 150px;
    width: 97%;
}
.errorBuy .error {
    color: #fe653e !important;
    clear: left;
    float: left;
    margin-top: 3px;
}
.errorBuy {
    float: left;
}
/* buy offer views */

.buyOfferViews .globalOffers {
    box-sizing: border-box;
    padding: 10px;
}
.buyOfferViews .globalOffers .bfItemLang {
    margin: 0;
}
.buyOfferViews .globalOffers p {
    margin-bottom: 3px;
    font-weight: 500;
    color: #000;
    font-size: 15px;
}
.buyOfferViews .globalOffers input[type="text"] {
    margin-bottom: 0;
}
.buyOfferViews .globalOffers arrow {
    width: 24%;
    margin-right: 5px;
}
.buyOfferViews .globalOffers .ltArrow {
    width: 26%;
    margin-right: 0;
}
.buyOfferViews .globalOffers arrow select {
    margin-bottom: 5px;
}
.buyOfferViews .classItem {
    width: 100%;
    margin: 10px 0;
}
.formActorRegister {
    width: 800px !important;
}
.formActorRegister h2 {
    color: #333;
    text-align: center;
    margin: 8px 0;
    width: 100%;
    font-weight: 600;
}
/* FORM CP */

.formInsightly {
    margin: 20px 0;
}
.formInsightly .required {
    text-align: right;
    float: left;
}
.formInsightly .required span {
    font-size: 0.6em;
    margin-right: 3px;
}
.formInsightly h5 {
    margin: 3px 0 0 0;
    float: right;
}
.formInsightly .formsCP input[type=text],
.formInsightly .formsCP input[type=email] {
    margin: 0 0 13px 0;
}
.formInsightly .formsCP textarea {
    height: 316px !important;
    margin: 0 0 5px 0;
}
/* back to top */

.backTopLd {
    left: 0px !important;
    right: 0px !important;
}
.backTopLdPosition {
    left: 270px !important;
}
@media only screen and (min-width: 1280px) {
    .fullVideo {
        float: left !important;
        width: 59% !important;
        display: inline-block !important;
        height: 450px !important;
    }
}