@charset "UTF-8";

/* CSS Document */

/* CODE FOR SCROLL*/

.scrollNoMenu {
  overflow-x: auto;
}

.scrollMenu {
  overflow-x: hidden !important;
}

/* comment random */

.menu{
  float: left;
  display: inline-block;
  background-color: #2b2b2b;
  height: 100%;
  width: 267px;
  z-index: 99999999999;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
}

.menu .selectArea {
  padding: 10px 5px 10px 15px;
  height: 45px;
  display: inline-block;
  width: 100%;
  float: left;
  font-weight: 300;
  box-sizing: border-box;
}

.menu .selectArea:hover {
  color: #222;
  background-color: #ffc517;
}

.menu .selectArea i {
  float: left;
  margin: 6px 0 0 0;
  width: 30px;
  text-align: center;
  font-size: 18px;
}

.menu .selectArea span{
	margin: 2px 0 0 5px;
	max-width: 73%;
	height: 1.6em;
	font-weight: 500;
	font-size: 14px;
	float: left;
	display: inline-block;
}

.menu .selectArea .notif_small {
  float: left;
  margin: 2px 0 0 5px;
  font-size:11px;
}

.menu .separateArea {
  background-color: #444;
  height: 52px;
  text-align: left;
  width: 100%;
  float: left;
  padding: 0 0 0 15px;
  border-top: 1px #222 solid;
  cursor: pointer;
  box-sizing: border-box;
}

.menu .separateArea span{
  color: #ccc;
  font-size: 14px;
  font-weight: 600;
  padding: 0 5px;
  float: left;
  text-transform: uppercase;
}

.menu .separateArea i{
  color: #f3f3f3;
  font-size: 0.9em;
  padding: 0 0 0 2px;
}

/*.menu .separateArea:hover{background-color: #333;}*/

.menu .separateArea .notif_small{
  font-size: 11px;
  padding: 2px 4px 3px 3px;
  margin: 0;
  min-width: 14px;
  position: relative;
  top: -1px;
}

/* classes to change menu and view position */

.changePosition {
  margin-left: 267px !important;
  overflow: hidden;
  height: inherit;
  width: 100% !important;
}

.viewPosition {
  /* I comment this position because the popups were hidden under the footer, for example: invite form */
  /* position: relative; */
  margin: 0 auto;
  width: 100% !important;
  overflow-x: hidden;
  display: inline-block;
}

.headerOpen {
  margin-left: 267px;
  min-width: 1225px;
}

.headerClosed {
  margin-left: 0;
  min-width: 1225px;
}

.header_nav .button_menu{
  z-index: 99999;
  border: none;
  color: #fff;
  padding: 0;
  position: fixed;
  margin-left: 0;
  top: 0;
  left:0;
  display: inline-block;
  min-width: 70px;
  height: 55px;
  cursor: pointer;
}

.header_nav .button_menu:hover,
.header_nav .changeButtonPosition{
  background-color: #000;
}

.header_nav .changeButtonPosition{
  left:267px !important;
}

.header_nav .button_menu img{
  float: left;
  margin: 0 0 0 15px;
}

.header_nav .button_menu span{
  float: left;
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 0 7px;
  padding-right: 15px;
}

.blockContentMenu {
  width: 80%;
  position: absolute;
  float: right;
  left: 20%;
  height: 100%;
  z-index: 200;
  overflow: hidden;
}

.notif_small {
  background-color: #fe653e;
  display: inline-block;
  min-width: 14px;
  padding: 2px 3px 3px;
  color: #fff;
  font-size: .85em;
  font-weight: 600;
  text-align: center;
  margin-right: 10px;
  border-radius: 20px;
  -moz-osx-font-smoothing: grayscale;
}


button.btn_submit{
  display: inline !important;
}