/* POPUP ORIGIN PRODUCTS AND FILES */

.miniBank{}

.header_bank {
  display: inline-block;
  text-align: center;
  width: 98%;
  top: -10px;
  position: relative;
}

.header_bank h3 {
  font-weight: bold;
  font-size: 1.2em;
  margin: -15px 0 10px 0;
  text-align: center;
  display: inline-block;
}

.header_bank i {
  display: inline-block;
  width: 2%;
  margin-top: -8px;
}

.content_bank {
  color: #fff;
  height: auto;
  text-align: center;
  background-color: #444;
  padding: 5px;
}

.content_bank .order_list_files {
  margin-bottom: 0;
}

.content_bank .order_list_files .check_message,
.content_bank .order_list_files .check_message_selected,
.content_bank .order_list_files .check_message_active {
  background-color: #fff;
  border: 1px #f3f3f3 solid;
  margin-top: 5px;
}

.content_bank .area_files {
  position: relative;
  max-height: 320px;
  min-height: 320px;
  overflow: hidden;
}

.content_bank .message_error{
  min-width: 100%;
  margin: -3px 0 -6px 0;
  padding: 5px;
}

.content_bank .area_files_details {
  max-height: 330px;
  min-height: 330px;
}

.list_content {
  background-color: #eee;
  width: 100%;
  display: inline-block;
  height: 320px;
  margin-top: 5px !important;
  overflow: auto;
}

.list_content .nav_files {
  margin-top: -55px;
  padding: 5px 0;
}

.div_filter1 {
  float: left;
  display: inline-block;
  width: 27%;
  background-color: #eee;
  padding: 0 1%;
  height: 100px;
}

.div_filter1 p,
.div_filter3 p {
  font-size: 0.8em !important;
  font-weight: 500 !important;
  color: #333 !important;
  margin: 0px;
}

.div_filter2 {
  float:left;
  display: inline-block;
  width: 14%;
  height: 93px;
  padding-right: 7px;
}

.div_filter2 .btn_submit {
  float: left;
  margin-top: 0;
  width: 100%;
}

.miniBank .div_filter3 {}

.div_filter3 {
  float: left;
  display: inline-block;
  width: 53%;
  height: 100px;
  margin-left: 7px;
  background-color: #f3f3f3;
  padding: 0 1%;
}

.div_filter3 .tableLeftOrder,
.div_filter3 .tableRightOrder {
  height: 74px;
  display: inline-block;
  width: 46%;
  text-align: left;
}

.div_filter3 .one_languageOrder,
.div_filter3 .multi_languageOrder {
  width: 85%;
  padding: 0;
}

.div_filter3 .buttonStyleLanguageOrder {
  margin-bottom: 2px !important;
  height: 17px !important;
}

.div_filter3 .buttonStyleLanguageOrder_inactiveL {
  margin-bottom: 2px !important;
  height: 17px !important;
}

.div_filter3 .buttonStyleLanguageOrder_inactiveR {
  margin-bottom: 2px !important;
  height: 17px !important;
}


/* FILTERS */

.filter_origin {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  float: left;
  height: 32px;
  color: #333;
}

.search_minibank {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 5px 0 2px 0;
  position: relative;
}

.search_minibank .iconSearch{margin: 9px 0 0 7px !important;}

.search_minibank input[type="text"] {
  height: 35px;
  font-size: 0.8em;
  margin: 3px 0 5px 0;
  padding-left: 25px;
  float: left;
  width: 100%;
  background-color: #fff;
}

.search_minibank .activeSearch{
  padding: 0 30px 0 25px !important;
}

.search_minibank .cleanSearch{
  position: absolute !important;
  position: absolute !important;
  margin: 7px 0 0 0!important;
  padding: 5px 5px 4px 5px;
  right: 2px;
}
 
.search_minibank .cleanSearch:hover{color: #999 !important;}

.search_minibank span {
  position: absolute;
  z-index: 9;
  margin-top: 7px;
  color: #333;
  display: inherit;
  margin-left: 7px;
}

/* ORDER */

.tableOrder {
  display: inline-block;
  width: 100%;
  font-size: 0.875em;
}

.order_list_files {
  background-color: #999;
  height: 26px;
  display: inline-block;
  width: 100%;
}

.order_list_files .pageSize {
  float: left;
  min-width: 150px;
  margin-left: 0;
}

.order_list_files .pageSize p {
  font-size: 0.875em;
  color: #fff;
  margin-right: 5px;
}

.order_list_files .pageSize label {
  width: 40%;
  display: inline-block;
  margin-top: 2px;
}

.order_list_files .pageSize arrow:after {
  top: 4px;
}

.order_list_files .pageSize select {
  width: 100%;
  margin-top: 0;
}

/* LIST NAME */

.listMiniBank {
  margin-top: 0;
  width: 98%;
  margin: 1%;
}

.gridMiniBank {
  padding: 1% !important;
  width: 96% !important;
}

.gridMiniBank li {
  float: left;
  display: inline-block;
  margin-bottom: 15px;
}

.listMiniBank li {
  width: 98%;
}

.listMiniBank .column_name1 {
  width: 48%;
  text-align: left;
}

.listMiniBank .column_name1 input[type="text"]{margin: 7px 0 0 0;}

.listMiniBank .column_name2 {
  width: 31%;
  margin-right: 1%;
  float: left;
}

.nav_position {
  display: inline;
  background-color: transparent !important;
  margin-left: 40px !important;
}

.icon_viewMore {
  height: 26px;
  width: 29px;
  padding-top: 2px;
}

/* Buttons order */

.order_btn_position {
  width: 10% !important;
  padding-left: 0 !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.order_oneBtn_position {
  width: 100% !important;
  margin-top: 5px !important;
  height: 20px !important;
  padding-top: 5px !important;
}

.order_styleBtn {
  width: 45%;
  background-color: #888;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
}

.order_styleBtn_inactive {
  width: 45%;
  background-color: rgba(136, 136, 136, 0.44);
  color: #fff;
  border-radius: 3px;
  display: inline-block;
}

.order_multiBtn_position {
  width: 100% !important;
  margin-top: 5px !important;
  height: 20px !important;
  padding-top: 5px !important;
}

/* ZOOM IMAGE */

.zoomImage_origin {
  width: 100%;
  display: inline-block;
  float: left;
  margin-top: -5px;
}

.zoomImage_origin .clDetailLeft{padding: 0 0 0 1%;}
.zoomImage_origin .clDetailRight{padding: 0 1% 0 0;}
/* LIST FILES */

.list_content_lines .clName01 {
  float: left;
  width: 48%;
  text-align: left;
  display: inline-block;
}

.clName01 input[type="text"] {
  margin-top: 6px;
  font-size: 0.75em;
}

.clName01Manager {
  width: 49% !important;
}

.clName01Manager input[type="text"] {
  margin-top: 8px;
}

.clIcons04 {
  width: 9%;
}

.clIcons04 .icon_search_name {
  width: 41%;
  height: 25px;
  padding-top: 3px;
}

.popupHover {
  position: absolute !important;
  z-index: 99 !important;
  width: 130px !important;
  margin: 25px 0 0 -135px !important
}

.opItem {
  display: inline-block;
  width: 94%;
  padding: 4px;
  color: #555;
  font-size: 0.75em;
}

.opItem:hover {
  background-color: #ebebeb;
  font-weight: 600;
  border-radius: 3px;
}

.opItem i {
  font-size: 1.2em;
  margin-right: 3px;
}

.popupHover .arrowJoin {
  margin-right: 8px!important;
}

.popupHover .arrowJoin:before {
  border-width: 7px !important;
  margin-left: -7px !important;
}

.popupHover .arrowJoin:after {
  border-width: 6px !important;
  margin-left: -6px !important;
}

.popupHover2 {
  margin-top: 0px !important;
  margin-left: -120px !important;
  display: table-row-group !important;
}

@-moz-document url-prefix()  {
  .popupHover2 {
    margin-top: -2px !important;
  }
}

.popupHover3 {
  margin: 1px 0 0 -121 !important;
  display: table-row-group !important;
}

.column_BtnPdfMiniBank {
  display: inline-block;
  width: 12%;
  margin-right: 4px;
  position: relative;
  height: 50px;
}

.column_BtnPdfMiniBank .icon_search_name {
  width: 31%;
  float: right;
  padding-top: 3px;
}

.column_BtnPdfMiniBank .linked_items_name {
  width: 30%;
  float: right;
  margin-right: 3px;
}

/* block filter on files */

.showFilesCp .filter_origin {
  width: 25%;
}

.showFilesCp .filter_origin .linked_select {
  width: 50%;
  margin: 0;
}

.showFilesCp .filter_origin .linked_select .check_Area {
  width: 100%;
  margin: -5px;
}

.showFilesCp .filter_origin .linked_select .check_Area i,
.showFilesCp .filter_origin .linked_select .check_Area .checkIcon {
  float: left;
  clear: left;
}

.showFilesCp .search_filter_bank {
  width: 75%;
  float: left;
}

.showFilesCp .search_filter_bank .search_minibank .iconSearch {
  margin: 6px !important;
}

.showFilesCp .search_filter_bank .search_minibank input[type="text"] {
  width: 100%;
  margin: 0;
}

.showFilesCp arrow:after,
.showFilesCp arrow select {
  background-color: #fff;
}

.showFilesCp arrow select {
  margin: 0;
  box-shadow: 0 1px 0 #E6E6E6, 0 -1px #E6E6E6 inset;
}


.msgErrorNoRemove{
  background-color: #ffe195;
  float: left;
  height: auto;
  margin: -8px 0 0 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  left: 0;
}

.msgErrorNoRemove .closed_popup{
  margin: 2px;
  color: #333;
  right: 10px;
  position: relative;
  z-index: 2;
}

.msgErrorNoRemove .closed_popup:hover{background-color: #ffc517 !important;}

.msgErrorNoRemove p{
  color: #333;
  font-weight: 400;
  font-size: .85em;
  margin: 0;
  padding: 5px 0;
  width: 90%;
  margin: auto;
}

.msgErrorNoRemove p i{
    margin: 2px 5px 0 0;
    font-size: 1.2em;
  }

.withMsg{margin: 32px 0 0 0 !important;}