/* SEARCH */


/* TOP SEARCH */
.navSearch{
  position: fixed;
  background-color: #fff;
  float: left;
  height: 45px;
  top: 55px;
  z-index: 3;}

.navSearch ul{
  padding: 0;
  margin: 0 auto;
  width: 1225px;
  display: block;}

.navSearch ul li{
  float: left;
  padding: 10px 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
  box-sizing: border-box;
}

.navSearch ul li:hover{
  border-bottom: 4px rgba(254, 197, 62, 0.5) solid;
}

.navSearchActive,
.navSearchActive:hover{
  border-bottom: 4px #ffc517 solid !important;
  font-weight: 600;
  cursor:default;
  opacity: 1;
}

.searchPage .pageTitle{
  margin-top: 108px;
  height: 15px;}

.searchPage .pageTitle .tab_select{
  background-color: transparent;
  padding: 8px;
  height: auto;
}

.searchPage .pageTitle .tab_select h1{
  width: auto;
  display: inline-block;
  font-weight: 500;
}

.searchPage .three_columns_sub{
  background-color: transparent;
  padding: 0;
  box-shadow: none;
}

.searchPage .cl_02 .resultsArea .infoResults{
  padding:0 0 5px 0; 
  float:left;}

.searchPage .cl_02 .resultsArea .area_navSearch{float:left; clear:left;}

.searchPage .cl_02 .resultsArea .topBlockSrch{   
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 15px 0;
  cursor: pointer;
  background-color: #fff;
}

.searchPage .cl_02 .resultsArea .topBlockSrch:hover{}

.searchPage .cl_02 .resultsArea .topBlockSrch p{
  margin: 0;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
}

.searchPage .cl_02 .resultsArea .topBlockSrch p span{
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 500;
  color: #666;
  font-size: 0.8em;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul{
  margin: 0; 
  padding: 0;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li{
  padding: 6px 12px;
  box-sizing: border-box;
  float: left;
  margin-bottom: -1px;
  position: relative;
  }

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemImg{
  width: 100px;
  height: 100px;
  float: left;
  margin: 0;
  border:none;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo{height: 35px !important;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemInfo,
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo{
  float: left;
  height: 100px;
  position: relative;
  padding: 0 0 0 8px;
  width: 88%;
  box-sizing:border-box;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemInfo u, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo u{width: 90%;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemInfo h2, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo h2{
  margin: 0;
  padding: 0;
  width: 95%;
  font-size: 18px;
  max-height: 3em;
  float: left;
  font-weight: 600;
}
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo h2{font-size: 16px !important;}
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemInfo h3{
  margin: 0;
  padding: 0;
  width: 95%;
  font-size: 0.85em;
  max-height: 3em;
  float: left;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .itemInfo h4, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo h4{
  margin: 0;
  padding: 0;
  width: 95%;
  font-weight: 500;
  font-size: 0.78em;
  float: left;
  color: #666;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul span{
  text-align: center;
  padding: 15px 0;
  font-size: 1em;
  font-weight: 600;
  color: #df9c00;
  display: inline-block;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .noImg{
  background-color: #f8f8f8 !important;
  border:none !important;
  }

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .noImg img{
  width: 60px;
  margin-top: 11px;
  opacity: 0.1;
}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .smallAvatarActor{border: none;}

.searchPage .cl_02 .resultsArea .message_noContent{
  width: 100%;
  padding: 15px 0;
  margin: 0;
}

.searchPage .cl_02 .resultsArea .message_noContent p{
  font-size: 16px;
}

/* SEARCH PRODUCTS LIST */

.searchPage .searchItems {
  display: inline-block;
  margin-top: 10px;
}

/* list */

.searchPage .searchItems .viewList {
  display: inline-block;
  margin: -5px 0 0 0;
}

.searchPage .searchItems .viewList .productList {
  float: left;
  height: 300px;
  margin-bottom: 1px;
  background-color: #fff;
  /* border-top: 1px #f3f3f3 solid;*/
  box-sizing: border-box;
  position: relative;
}

.searchPage .searchItems .viewList .productList:hover {
  background-color:#fbfbfb;
  outline: 1px #ddd solid;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
  position: relative;
  z-index: 1;
}

.searchPage .searchItems .viewList .productList .largeImageProduct,
.searchPage .searchItems .viewList .productList .noImg {
  width: 300px;
  height: 300px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
  border: none;
}

.searchPage .searchItems .viewList .productList .noImg {
  text-align: center;
  float: left;
  background-color: #f8f8f8 !important;
}

.searchPage .searchItems .viewList .productList .noImg img {
  width: 180px;
  margin-top: 30px;
  opacity: 0.1;
}

.searchPage .searchItems .viewList .productList .productListInfo {
  width: 570px;
  height: 279px;
  float: left;
  padding: 10px 15px;
}

.searchPage .searchItems .viewList .productList .productListInfo h2,
.searchPage .searchItems .viewList .productList .productListInfo h3,
.searchPage .searchItems .viewList .productList .productListInfo h4,
.searchPage .searchItems .viewList .productList .productListInfo h5,
.searchPage .searchItems .viewList .productList .productListInfo p {
  color: #333;
  width: 100%;
  margin: 0;
}

.searchPage .searchItems .viewList .productList .productListInfo h2 span,
.searchPage .searchItems .viewList .productList .productListInfo h3 span,
.searchPage .searchItems .viewList .productList .productListInfo h4 span,
.searchPage .searchItems .viewList .productList .productListInfo h5 span,
.searchPage .searchItems .viewList .productList .productListInfo p span {
  color: #666;
  font-weight: 500;
  display: inline;
  margin: 0 5px 0 0;
  font-size: 0.9em;
}

.searchPage .searchItems .viewList .productList .productListInfo h2 {
  line-height: 30px;
  margin: 0 0 5px 0;
  font-size: 25px;
  font-weight: 600;
}

.searchPage .searchItems .viewList .productList .productListInfo h3 {
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 3px 0;
}

.searchPage .searchItems .viewList .productList .productListInfo h5 {
  margin: 0 0 5px 0;
}

.searchPage .searchItems .viewList .productList .productListInfo h4 {
  font-weight: 600;
  color: #555;
  font-size: 0.8em;
  margin: 0 0 3px 0;
}

.searchPage .searchItems .viewList .productList .productListInfo p {
  margin: 0 0 3px 0;
  max-height: 5.6em;
}

.searchPage .searchItems .viewList .productList .productListInfo h6 {
  color: #666;
  margin: 0 0 7px 0;
}

.showColor {
  position: absolute;
  width: 300px;
  pointer-events: none;
}

.showColor div {
  right: 0px;
  top: 1px;
  position: absolute;
  text-align: right;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid red;
  border-right: 30px solid red;
}

.searchPage .searchItems .viewList .productList .productListInfo .miniShowColor {
  float: left;
  margin: 0 0 5px 0;
}

.searchPage .searchItems .viewList .productList .productListInfo .miniColor {
  width: 20px;
  height: 20px;
  background-color: red;
  display: inline-block;
  float: left;
  margin: 5px 5px 0 0;
  border: 1px #f3f3f3 solid;
}

.searchPage .searchItems .viewList .productList .productListInfo .miniShowColor span {
  float: left;
  color: #888;
  font-weight: 500;
  font-size: 0.8em;
  padding: 6px 5px 0 0;
}

.searchPage .searchItems .viewList .productList .productListInfo .miniShowColor h3 {
  float: left;
  font-size: 0.85em;
  display: inline-block;
  width: auto;
  margin: 6px 0 0 0;
  font-weight: 400;
}

.searchPage .searchItems .viewList .productList .productListInfo .priceArea {
  margin: 0 0 3px 0;
}

.searchPage .searchItems .viewList .productList .productListInfo .priceArea .ttPrice {
  float: left;
  color: #666;
  font-size: 0.8em;
  font-weight: 500;
  padding: 1px 5px 0 0;
}

.searchPage .searchItems .viewList .productList .productListInfo .priceArea .price {
  background-color: transparent;
  padding: 0;
}

.searchPage .searchItems .viewList .productList .productListInfo .priceArea .price b {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 3px 0 0 !important;
  color: #91bb55;
}

.searchPage .searchItems .viewList .productList .productListInfo .priceArea .price span {
  color: #333;
  font-size: 1em;
}

.searchPage .searchItems .viewList .advSearch {
  width: 100%;
}

.searchPage .searchItems .viewList .advSearch .planSearchItem {
  float: left;
  width: 100%;
  height: 105px;
}

.searchPage .searchItems .viewList .advSearch .planSearchItem p {
  font-size: 1.6em;
}

/* grid */

.searchPage .searchItems .product_view,
.searchPage .searchItems .product_view .largeImageProduct {
  width: 300px;
  height: 300px;
  position: relative;
}

.searchPage .searchItems .product_view .productInfo {
  height: 300px;
}

.searchPage .searchItems .product_view .productInfo h2 {
  font-weight: 700;
  font-size: 1.2em;
  max-height: 3.7em;
  line-height: 24px;
}

.searchPage .searchItems .product_view .productInfo .priceArea{
  max-width: 80%;
  width: auto;
  margin: auto;
}


/* SEARCH CATALOGS */
.searchPage .searchCatalogs{
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}

.searchPage .searchCatalogs .viewList,
.searchPage .searchCatalogs .viewGrid{
  display: inline-block;
  margin: -5px 0 0 0;
  width: 100%;
}

.searchPage .searchCatalogs .viewList .catalogList{
  float: left;
  height: 300px;
  margin-bottom: 1px;
  border-top: 1px #f3f3f3 solid;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}

.searchPage .searchCatalogs .viewList .catalogList:hover{
  background-color: #fbfbfb;
  outline: 1px #ddd solid;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
  position: relative;
  z-index: 1;
}

.searchPage .searchCatalogs .viewList .catalogList .largeImgCatalog, 
.searchPage .searchCatalogs .viewList .catalogList .noImg{
  width: 300px;
  height: 300px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  background-color: #fff;
  border: none;
  float: left;
}

.searchPage .searchCatalogs .viewList .catalogList .noImg{    
  text-align: center;
  float: left;
  background-color: #f8f8f8 !important;
}

.searchPage .searchCatalogs .viewList .catalogList .noImg img{      
  width: 180px;
  margin-top: 30px;
  opacity: 0.1;
}

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo{
  width: 575px;
  height: 279px;
  float: left;
  padding: 10px 15px;
  position: relative;
}

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h2{
  line-height: 31px;
  margin: 0 0 5px 0;
  max-height: 3.8em;
  font-size: 25px;
  font-weight: 600;
}

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo p{
  margin: 0 0 3px 0 !important;
  max-height: 7.1em;
  }

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h3{
  font-size: 1em;
  font-weight: 600;
  margin: 0 0 3px 0;
  max-height: 3em;
}

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h4{
  font-weight: 600;
  color: #555;
  font-size: 0.8em;
  margin: 0 0 3px 0;
}

.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h2,
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo p,
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h3,
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo h4{
  color: #333;
  margin: 0;
  width: 100%;
}


.searchPage .searchCatalogs .viewGrid .catalogGrid{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0;
  float:left;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .largeImgCatalog,
.searchPage .searchCatalogs .viewGrid .catalogGrid .noImg{
  width: 300px;
  height: 300px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
  border: 1px #f3f3f3 solid;
  background-color: #fff;
  float: left;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .noImg{    
  text-align: center;
  float: left;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .noImg img{      
  width: 180px;
  margin-top: 30px;
  opacity: 0.1;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo{
  height: 300px; 
  width: 300px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 2%;
  opacity: 1;
  overflow: hidden;
  text-align: center;
  position: absolute;
  border-radius: 0;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h2,
.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo p,
.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h3,
.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h4{
  color:#fff;
  width: 100%;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h2{
  font-weight: 700;
  font-size: 1.2em;
  max-height: 3.8em;
  line-height: 24px;
  margin: -10px 0 0 0;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo p{
  margin: 0;
  max-height: 7.1em;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h3{
  font-size: 0.9em;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0 0 5px 0;
  line-height: 17px;
  max-height: 2.5em;
}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo h4{
  margin: 5px 0;
  font-size: 0.8em;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2px 5px;
  max-width: 100%;
  width: auto;
  display: inline;
}

/* COMPANIES LIST */

.searchPage .searchActors {
  margin-top: 5px;
  display: inline-block;
}

.searchPage .searchActors .followListSearch .btn_follow,
.searchPage .searchActors .followListSearch .btn_following,
.searchPage .searchActors .followListSearch .btn_unfollow{
  height: 25px;
}

/* list */

.searchPage .searchActors .viewList .companiesList {
  float: left;
  height: 105px;
  width: 99%;
  background-color: #fff;
  border-top: 1px #f3f3f3 solid;
  /* border-bottom: 1px #f3f3f3 solid;*/
  margin-bottom: 0;
  position: relative;
}

.searchPage .searchActors .viewList .companiesList:hover,
.searchPage .searchActors .viewList .advSearch .planSearchActor:hover {
  background-color:#fbfbfb;
  outline: 1px #ddd solid;
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.2);
  position: relative;
  z-index: 1;
}

.searchPage .searchActors .viewList .companiesList .companyLogo {
  float: left;
  width: 300px;
  height: 105px;
  background-color: #fff;
}

.searchPage .searchActors .viewList .companiesList .companyLogo .noImg {
  background-color: #f8f8f8;
}

.searchPage .searchActors .viewList .companiesList .companyLogo .noImg i {
  color: #ddd;
  font-size: 3em;
}

.searchPage .searchActors .viewList .companiesList .companyInfo {
  float: left;
  height: 105px;
  padding: 5px 15px;
  width: 605px;
  box-sizing: border-box;
}

.searchPage .searchActors .viewList .companiesList .companyInfo h2,
.searchPage .searchActors .viewList .companiesList .companyInfo h3,
.searchPage .searchActors .viewList .companiesList .companyInfo h4 {
  color: #333;
  margin: 0;
  width: 95%;
}

.searchPage .searchActors .viewList .companiesList .companyInfo h2 {
  font-size: 20px;
  float: left;
  width: 100%;
  font-weight: 600;
  margin: 0;
  line-height: 23px;
  max-height: 3em;
}

.searchPage .searchActors .viewList .companiesList .companyInfo h3 {
  font-size: 0.85em;
  float: left;
  width: 100%;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 5px 0;
}

.searchPage .searchActors .viewList .companiesList .companyInfo h4 {
  font-weight: 600;
  font-size: 0.8em;
  color: #555!important;
}

.searchPage .searchActors .viewList .companiesList .withItens, 
.searchPage .searchActors .viewGrid .logoActor .withItens, 
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo .withItens,
.searchPage .searchCatalogs .viewGrid .catalogGrid .withItens,
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .withItens{ 
  float: right;
  width: 30px;
  height: 30px;
  bottom: 8px;
  text-align: center;
  /* right: 45px; */
  right:8px;
  background-color: #fe653e;
  box-shadow: 0px 0px 5px rgba(170, 170, 170, 0.2);
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  cursor: pointer;
}

.searchPage .searchActors .viewList .companiesList .withItens i,
.searchPage .searchActors .viewGrid .logoActor .withItens i, 
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo .withItens i,
.searchPage .searchCatalogs .viewGrid .catalogGrid .withItens i,
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .withItens i{
  color: #fff;
  font-size: 18px;
  position: relative;
  top: 2px;
}

.searchPage .searchActors .viewGrid .logoActor .withItens{}

.searchPage .searchActors .viewList .advSearch {
  width: 100%;
}

.searchPage .searchActors .viewList .advSearch .planSearchActor {
  float: left;
  width: 100%;
}

.searchPage .searchActors .viewList .advSearch .planSearchActor {
  width: 99% !important;
}


.searchPage .searchItems .viewGrid .catalogProduct .productInfo .btn_premium,
.searchPage .searchItems .viewList .productList .productListInfo .btn_premium,
.searchPage .searchActors .viewList .companiesList .btn_premium, 
.searchPage .searchActors .viewGrid .logoActor .btn_premium, 
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo .btn_premium, 
.searchPage .searchCatalogs .viewGrid .catalogGrid .btn_premium, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .btn_premium{
  float: right;
  width: 30px;
  height: 30px;
  bottom: 8px;
  text-align: center;
  right: 45px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(170, 170, 170, 0.2);
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  cursor: pointer;
}

.searchPage .searchItems .viewGrid .catalogProduct .productInfo .btn_premium img,
.searchPage .searchItems .viewList .productList .productListInfo .btn_premium img,
.searchPage .searchActors .viewList .companiesList .btn_premium img, 
.searchPage .searchActors .viewGrid .logoActor .btn_premium img, 
.searchPage .searchCatalogs .viewList .catalogList .catalogInfo .btn_premium img, 
.searchPage .searchCatalogs .viewGrid .catalogGrid .btn_premium img, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .btn_premium img{width: 18px;}


.searchPage .searchItems .viewGrid .catalogProduct .productInfo .btn_premium{right: 8px !important;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .btn_premium{ right: 37px !important;}

.searchPage .searchItems .viewList .productList .productListInfo .btn_premium{right: 8px !important;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .withItens{right: 0 !important;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo .withItens,
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .companyInfo .btn_premium{top: 1px !important;}

.searchPage .cl_02 .resultsArea .topBlockSrch ul li .btn_premium, 
.searchPage .cl_02 .resultsArea .topBlockSrch ul li .withItens{margin-bottom: 4px !important;} 

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo .withItens{top:262px; right:10px;}
.searchPage .searchCatalogs .viewGrid .catalogList .withItens{right:0px !important;}

.searchPage .searchCatalogs .viewGrid .catalogGrid .catalogInfo .btn_premiumNoItens{right:10px !important;}

/* grid */

.searchPage .searchActors .logoActor {
  width: 300px !important;
  height: 105px;
  margin: 0;
  border-radius: 0;
  position: relative;
}

.searchPage .searchActors .logoActor .image_actorList {
  height: 105px;
  background-size: 105px auto;
}

.searchPage .searchActors .logoActor .actorInfo {
  width: 300px;
  height: 105px;
  border-radius: 0;
}

.searchPage .searchActors .logoActor .actorInfo h2 {
  font-size: 1em;
  line-height: 19px;
  margin: 0 1% 5px 1%;
  max-height: 2.5em;
  display: -webkit-box;
}

.searchPage .searchActors .logoActor .actorInfo h3 {
  font-size: 0.8em;
  margin: 0 auto 7px auto;
  text-align: center;
  font-weight: 600;
  line-height: 15px;
  display: block;
}

.searchPage .searchActors .logoActor .actorInfo h4 {
  font-size: 0.75em;
  font-weight: 600;
  background-color: rgba(255,255,255,0.2);
  padding: 0 5px;
}


.searchPage .searchDetails {
  padding: 0;
  float: left;
}



/* FILTERS */

.barExpandFilter {
  background-color: #555;
  color: #fff;
  height: 35px;
  padding: 6px 5px;
  margin-bottom: 2px;
  width: 97%;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  float: left;
}

.barExpandFilter h4 {
  font-weight: 600;
  margin: 0 8px 0 5px;
  float: left;
  font-size: .9em;
  text-transform: uppercase;
  padding:2px;
}

.barExpandFilter i{
  font-size: 0.8em;
  margin-top: 3px;
}

.searchGeral {
  display: inline-block;
  width: 484px;
  float: left;
  margin: -5px 0 0 5px;
}

.iconSearch {
  position: absolute;
  z-index: 1;
  margin: 12px 7px 8px 10px;
  color: #666;
}

.searchGeral input[type="text"] {
  background-color: #fff;
  box-shadow: none;
  appearance: none;
  width: 240px;
  font-size: 0.8em;
  padding: 0 28px;
  height: 28px;
  margin: 5px 0 0 0;
  float: left;
  border: 3px #ffc517 solid;
}

.searchGeral button[type="button"] {
  margin-top: 6px;
  height: 30px;
  width: 98px;
  max-width: 100px;
}

.cleanSearch {
  position: relative !important;
  margin: 9px 0 0 -31px;
  float: left !important;
  color: #ccc !important;
  cursor: pointer !important;
  width: 20px;
  height: 19px;
  padding: 5px 0 0 8px;
  background-color: #fff;
}

/* SEARCH HEADER */

.searchHeader .searchGeral {
  display: inline-block;
  width: auto;
  float: left;
  margin: 7px 0 0 7px;
  position: relative;
}

.searchHeader .searchGeral .iconSearch {
   margin: 2px 0;
  right: 0;
  padding: 7px 12px 6px 12px;
  background-color: #ffc517;
  height: 36px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
}

.searchHeader .searchGeral .iconSearch i{color: #333; font-size: 21px;}

.searchHeader .searchGeral .cleanSearch {
  right: 42px;
  margin: 8px 0;
  padding: 4px;
  text-align: center;
  position: absolute !important;
}

.searchHeader .searchGeral .cleanSearch:hover{color:#999!important;}

.searchHeader .searchGeral input[type="text"] {
  width: 400px;
  border: 0 #ffc517 solid;
  height: 36px;
  box-sizing: border-box;
  margin: 2px 0 0 0;
  padding: 0 8px;
  font-size: 0.83em;
}

.searchHeader .searchGeral button[type="button"] {
  min-width: 80px;
  width: 80px;
  float: left;
  margin: 3px 5px 0 0;
  padding: 6px 2px;
  font-weight: 600;
  height: 35px;
  font-size: .85em;
}

.searchHeader .searchGeral input[type="text"]:focus {
  border: 2px #ffc517 solid !important;
}

.activeSearch{
  padding: 0 70px 0 8px !important;
}

/* search landing page */

.search_lp {
  width: 98%;
  display: inline-block;
  background-color: #fff;
  padding: 10px 1% 8px 1%;
  position: relative;
  z-index: 0;
}

.search_lp .searchGeral {
  width: 100%;
  margin: 0 auto 0 0;
  color: #fff;
  padding: 0 5px;
  display: block;
  float: none;
}

.search_lp .searchGeral .iconSearch i {
  font-size: 1.4em;
  padding-left: 2px;
  margin-top: -3px;
  float: left;
}

.search_lp .searchGeral input[type="text"] {
  height: 33px;
  width: 518px;
  padding-left: 40px;
  font-size: 1em;
  margin-top: 0;
  border: 4px #ffc517 solid;
}

.search_lp .searchGeral .cleanSearch {
  right: 4px;
  margin-top: 7px;
}

.search_lp .searchGeral button[type="button"] {
  margin: 0 0 0 5px;
  float: left;
  font-size: 1em;
  font-weight: 600;
  height: 42px;
  min-width: 110px;
  max-width: 200px;
}

/* input banks _origin */

.search_bank input[type="text"] {
  padding-left: 30px;
  margin-bottom: 4px;
}

.search_bank .activeSearch, 
.search_destination .activeSearch{padding: 0 30px !important;}

.search_bank .cleanSearch {
  margin: -33px 0 0 194px !important;
  display: -moz-grid;
  display: -ms-grid;
  padding-top: 3px;
  text-align: center;
}

.search_bank .iconSearch, 
.search_filter_destination .iconSearch{margin: 6px 8px;}

.search_bank .cleanSearch:hover,
.search_filter_destination .cleanSearch:hover,
.search_destination .cleanSearch:hover{color: #999 !important;}


/* IE - compatibility browsers */

.search_bank .cleanSearch::-ms-expand {
  position: absolute !important;
  margin: -3px 0 0 0 !important;
}

.search_destination .cleanSearch::-ms-expand {
  position: absolute !important;
  margin: 0 !important;
}

/* input search destionation */
.search_destination{position: relative;}

.search_destination input[type="text"]{
  padding: 0 0 0 30px;
}

.search_destination .cleanSearch {
  margin-top: -32px !important;
  padding-top: 5px;
  right: -32px;
}

/* input search country*/

.search_country input[type="text"] {
  padding-left: 30px;
  margin-bottom: 3px;
}

.search_country .cleanSearch {
  position: absolute !important;
  margin-top: -37px!important;
  padding: 9px 5px;
  height: 15px;
  background-color: #fff;
  color: #999 !important;
  right: 1px;
  text-align: center;
}

/*struture with four columns*/

.cl_01 {
  display: inline-block;
  width: 26%;
  float: left;
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
}

.cl_02 {
  display: inline-block;
  width: 74%;
  float: left;
  position: relative;
  box-sizing: border-box;
}

.resultsArea {
  padding: 0;
  margin-top: 0;
  min-height: 636px;
  z-index: 1;
  position: relative;
}

.tabList3 {
  min-width: 30%;
  color: #333;
  float: left;
  text-align: center;
  display: inline-block;
  height: 30px;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  border: 1px #ddd solid;
  position: relative;
  margin: 0;
  padding: 8px 8px 0 8px;
}

.tabList3:hover{
  background-color: #f8f8f8;
}

/*
.tabList3_inactive {
  background-color: #f8f8f8;
  font-weight: 400 !important;
  border: 1px #f3f3f3 solid;
  color: #888 !important;
}

.tabList3_inactive:hover {
  background-color: #f3f3f3;
} */

/* GO BACK */

.cl_01 .navigation_view {
  margin: 0 0 0 -5px !important;
  float: left;
  width: 90% !important;
}

/* results */

.resultsSearch {
  font-size: 0.75em;
  display: inline-block;
  max-width: 100%;
  margin: 0 5px 0 0;
  border-right: 1px #ccc solid;
  padding: 0 5px 0 3px;
  float: left;
}

.resultsSearch span {
  float: left;
  margin: 0 5px 0 0;
  color: #333;
  font-size: 1.1em;
  font-weight: 500;
}

.resultsSearch .fltSearch {
  display: inline-block;
  padding: 1px 5px;
  cursor: pointer;
  margin: 0 3px 2px 0;
  font-weight: 700;
  background-color: #fff;
  border: 1px #ebebeb solid;
}

.resultsSearch .fltSearch:hover {
  background-color: #ebebeb;
}

.resultsSearch .fltSearch i {
  color: #aaa;
}

.resultsSearch .noResult {
  cursor: default !important;
  border: none !important;
  padding: 1px !important;
  background-color: transparent!important;
}

.resultsSearch .noResult:hover {
  background-color: transparent !important;
}

.area_navSearch {
  background-color: transparent;
  max-width: 100%;
  width: auto;
  padding: 0;
}

.breadcrumbs_search {
  width: 100%;
  float: left;
  margin: 5px 0 -5px 0;
}

/* type View Search */

.tpVwSearch {
  float: right;
  z-index: 1;
  position: relative;
}

.tpVwSearch .tpVwSearchBtn{
  padding: 9px 10px 4px 10px;
  margin: 0 0 0 5px;
  color: #555;
  cursor: pointer;
  float: left;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  background-color: #fff;
}

.tpVwSearch .tpVwSearchBtn:hover {
  background-color: #f8f8f8;
}

.tpVwSearch i {
  font-size: 1.3em;
  float: left;
  margin: 2px 5px 0 0;
}

.tpVwSearch span {
  float: left;
  font-weight: 500;
  top: -3px;
  position: relative;
  font-size: 1em;
}

.tpVwSearch .tpVwSearchActive {
  background-color: #df9c00 !important;
  color: #fff;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}

.tpVwSearch .moreInfo_actor .tpVwSearchActive:hover{
  background-color: #777 !important;
  color: #fff !important;
  }

.tpVwSearch .tpVwSearchActive:hover {
  background-color: #df9c00 !important;
}

.tpVwSearch .moreInfo_actor{
  margin:0 !important; 
  padding:0 !important;
background-color: transparent !important;}

.tpVwSearch .moreInfo_actor .viewDetails{padding: 8px; margin: 0; box-shadow: none;}

.tpVwSearch .moreInfo_actor .viewDetails i{
  margin-top: 1px;
  font-size: 1em;}

/* more info actor */

.moreInfo_actor {
  display: inline-block;
  float: right;
  margin-left: 3px;
  width: auto;
  position: relative;
  z-index: 1;
}

/* filters */

.countries_filter,
.category_filter {
  width: 97%;
  background-color: #f8f8f8;
  margin-bottom: 2px;
  min-height: 155px;
  display: inline-block;
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  margin-top: -2px;
  float: left;
}

.countries_filter ul,
.category_filter ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  min-height: 122px;
}

.category_filter li, 
.countries_filter li {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 3px 5px;
  font-size: 0.85em;
  color: #333;
  box-sizing: border-box;
}

.countries_filter li {
  padding: 8px; 
}

.countries_filter li:hover,
.line_brick_filter:hover {
  background-color: #ebebeb;
}

.countries_filter li .checkIcon {
  float: left;
  width: 21px;
  height: 20px;
  margin-top: -1px;
}

.countries_filter .checkbox_filter,
.countries_filter .checkbox_filter_active {
  background-color: #fff !important;
  border: 1px #ccc solid !important;
  margin: 1px 2px 1px 0;
}
 
.countries_filter .checkbox_filter_active i{margin: 2px;}

.not_specified_country {
  border-bottom: 1px #ddd solid !important;
  border-radius: 0;
}

.line_brick_filter {
  display: inline-block;
  width: 92%;
  float: left;
  padding: 6px 5px;
  box-sizing: border-box;
}

.line_brick_filter u,
.countries_filter li u {
  font-size: 1em;
}

.line_brick_filter .num_category,
.countries_filter li .num_category {
  font-size: 0.9em;
  font-weight: 600;
}

.countries_filter li a,
.category_filter li a {
  color: #df9c00;
  display: inline-block;
  float: left;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 6px;
}

.countries_filter li a:hover,
.category_filter li a:hover {
  text-decoration: underline;
}

.select_filter_btn {
  width: 96%;
  padding: 0 2%;
}

.select_filter_btn button.btn_submit {
  float: right;
  min-width: 70px;
  padding: 4px;
}

.select_filter_btn button.btn_reset {
  float: right;
  min-width: 70px;
  padding: 4px;
  margin: 0 5px 0 0;
  background-color: #fbfbfb;
}

.clear_btn {
  display: inline-block;
  position: relative;
  float: right;
  margin: 10px 15px -10px 0;
  font-size: 0.8em;
  padding: 2px 5px;
  background-color: #E0E0E0;
  color: #666;
}

.clear_btn:hover,
.clear_btn:visited {
  background-color: #e9e9e9;
  color: #666;
  text-decoration: none;
}

.allcategories_btn {
  display: inline-block;
  position: relative;
  float: left;
  font-size: 0.8em;
  padding: 5px 10px;
  background-color: #E0E0E0;
  color: #333;
  float: right;
  margin: 8px 8px 0 0;
  cursor: pointer;
}

.allcategories_btn:hover,
.allcategories_btn:visited {
  background-color: #e9e9e9;
  color: #333;
}

.category_filter_2 {
  margin: 10px 0 10px 10px;
  color: #333;
  cursor: pointer;
}

.category_filter_3 {
  margin: 10px 0 10px 12px;
  color: #333;
  cursor: pointer;
}

.category_filter_4 {
  margin: 10px 0 10px 12px;
  color: #333;
  cursor: pointer;
}

.category_filter u:visited {
  color: #333;
}

.colorIconFilter {
  color: #444;
  font-size: .9em;
}

.num_category {
  color: #999;
  display: inline-block;
  font-weight: 500;
}

.closed_filter {
  display: inline-block;
  float: left;
  border-radius: 30px;
  padding: 2px 6px;
  margin: 3px -3px 0 0;
  color: #999;
}

.closed_filter:hover,
.closed_filter:visited {
  background-color: #ddd;
  color:#555;
}

/* LIST ACTORS*/

.logoActor {
  display: inline-block;
  float: left;
  border: 1px #f3f3f3 solid;
}

.image_actorList {
  height: 100px;
  width: 100%;
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: center;
}

.actorName {
  word-wrap: break-word;
  padding-left: 10px;
  height: 2.3em;
  margin-top: 8px;
  clear: both;
  position: relative;
  display: inline-block;
  width: 93%;
  line-height: 17px;
  overflow: hidden;
  text-align: center;
}

.actorName span {
  font-size: 1em;
  font-weight: 700;
}

.actorCountry {
  display: inline-block;
  width: 96%;
  text-align: center;
  font-size: 0.9em;
}

.actorCountry span {
  color: #fff;
  font-size: 0.8em;
  padding: 2px 5px;
  font-weight: 600;
}

.closed_result {
  color: #aaa;
}

.closed_result:hover {
  color: #777;
}

.advSearch .planSearch {
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: 1px #999 solid;
}

.advSearch .planSearch:hover {
  opacity: 0.8;
}

.advSearch .planSearch p {
  text-align: center;
  font-size: 1.2em;
  margin: auto;
  position: absolute;
  color: #555;
  font-weight: 600;
  width: 98%;
}

.advSearch .planSearch p i {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.advSearch .planSearchItem {
  width: 296px;
  margin: -1px;
  height: 296px;
}

.advSearch .planSearchItem p {
  font-size: 1.4em !important;
}

/* POPUP: FEEDBACK USERS ABOUT ADVENCED FUNCIONALITIES */

.knwMore {
  width: 320px !important;
}

.knwMore .pricingNumb {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.knwMore .pricingNumb p {
  font-size: 1.2em;
  margin: 1em 0;
}

.knwMore .knwMoreInfo {
  border: 2px #888 solid;
  padding: 10px 0;
  border-radius: 0;
  height: 7em;
}

.knwMore .knwMoreInfo p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 600;
}

.knwMore .knwMoreInfo .geraLink {
  color: #b1892b !important;
}

/* button back to top on search results */
.bckTopSearch .backTopFixed{ top: 98px;}