/* popup progress bar */

.popupProgressBar {
  height: 180px;
  margin-top: 180px;
  margin-left: 25%;
  margin-right: 25%;
}

/* popup crop logo */

.popupCropSquare {
  width: 800px !important;
  margin-top: 2em;
}

/* popup crop banner */

.popupCropBanner {
  width: 880px !important;
  margin: 4em auto auto auto !important;
}

/* popup crop banner */

.popupCropLogo {
  width: 400px !important;
  margin-left: 33% !important;
  margin-right: 33% !important;
  margin-top: 6em;
}

.popupCropBanner .header_bank,
.popupCropSquare .header_bank {
  margin-top: -10px;
}

.popupCropBanner .header_bank h3,
.popupCropSquare .header_bank h3,
.popupCropLogo .header_bank h3 {
  width: 100%;
  margin-top: 0;
  margin-bottom: -5px;
  display: inline-block;
}

.popupCropBanner .header_bank span,
.popupCropSquare .header_bank span,
.popupCropLogo .header_bank span {
  margin-bottom: 8px;
  margin-top: -10px;
  display: inline-block;
  width: 100%;
  font-size: 0.85em;
}

.popupCropLogo .header_bank {
  width: 97% !important;
  margin-top: -10px;
}

.popupCropLogo .header_bank h3 {
  font-size: 1em !important;
}

.popupCropLogo .cropZone {
  height: 200px !important;
}

.popupCropLogo .cropZoneImg {
  max-height: 250px;
  height: auto !important;
}

.popupCropLogo .zoomTools {
  width: 65% !important;
}

.popupCropLogo .zoomBar {
  width: 74% !important;
}

.cropZone {
  cursor: move;
  height: 350px;
  width: 100%;
  margin: 0 auto;
  background-color: #ccc !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px #f3f3f3 solid;
}

.cropZoneImg {
  height: 350px !important;
  width: auto !important;
  text-align: center;
  overflow: hidden;
}

.squareCrop {
  z-index: 99;
  position: absolute;
  width: 350px;
  height: 350px;
  margin-left: 224px;
  margin-right: 224px;
  pointer-events: none;
}

.squareCrop:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5999;
  opacity: .75;
  border-radius: 3px;
  -ms-filter: "alpha(opacity=75)";
  box-shadow: 20px 0 0 250px white, 0 30px 0 10px rgba(0,0,0,.2), inset 0px 0 0px 10px rgba(0,0,0,.5);
}

.bannerCrop {
  z-index: 99;
  position: absolute;
  width: 865px;
  height: 200px;
  margin-top: 75px;
  pointer-events: none;
}

.bannerCrop:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5999;
  opacity: .75;
  border-radius: 3px;
  -ms-filter: "alpha(opacity=75)";
  box-shadow: 20px 0 0 250px white, 0 30px 0 10px rgba(0,0,0,.2), inset 0px 0 0 10px rgba(0,0,0,.3);
}

.logoCrop {
  z-index: 99;
  position: absolute;
  width: 220px;
  height: 77px;
  /*width: 300px;
  height: 105px;*/
  margin-top: 63px;
  pointer-events: none;
  margin-left: 23%;
}

.logoCrop:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5999;
  opacity: .75;
  border-radius: 3px;
  -ms-filter: "alpha(opacity=75)";
  box-shadow: 20px 0 0 250px white, 0 30px 0 10px rgba(0,0,0,.2), inset 0px 0 0px 5px rgba(0,0,0,.3);
}

.zoomTools {
  /*text-align: center;*/
  width: 44%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.btnMinus {
  cursor: pointer;
  float: left;
  background-color: #ebebeb;
  padding: 2px 6px;
  color: #666;
}

.btnPlus {
  cursor: pointer;
  float: right;
  background-color: #ebebeb;
  padding: 2px 7px;
  color: #666;
}

.zoomBar {
  width: 81%;
  float: left;
  padding: 4px;
  padding-top: 0;
}

.divLineBar {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  left: 0;
  cursor: move;
}

.lineBar {
  background-color: #ccc;
  width: 100%;
  display: inline-block;
  height: 7px;
  position: relative;
}

.zoomBar i {
  cursor: pointer;
  position: relative;
  top: -19px;
  color: #666;
  left: 0;
}

.moreImgCrop {
  margin-top: 10px;
  margin-bottom: 5px;
}

.thImgSquare {
  width: 80px;
  height: 80px;
  float: left;
  background-color: #f3f3f3;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px #ccc solid;
}

.thImgBanner {
  width: 346px;
  height: 80px;
  float: left;
  background-color: #f3f3f3;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px #ccc solid;
}

.thImgBanner .deleteImgSmall {
  margin-left: 322px !important;
}

.thSelected {
  border: 2px #ffc517 solid;
}

.thDragSquare {
  border: 2px #ccc dashed;
}

.deleteImgSmall {
  position: absolute;
  margin-left: 58px;
  padding: 1px 4px;
}

.deleteImgSmall i {
  margin-top: 1px;
  display: block;
}

.uploadFeedback {
  min-height: 350px;
  max-height: 500px;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.areaProgressBar {
  width: 90%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
}

.areaProgressBar h2 {
  font-weight: 500;
  color: #777;
  margin-top: 15px;
  margin-bottom: 0;
}

.cancelProgress {
  text-align: center;
  width: 89%;
  display: block;
  margin: auto;
}

.cancelProgress button.btn_reset {
  float: none;
  margin-top: 70px;
  padding: 3px 6px;
  font-size: 0.75em;
}

.progressBar {
  width: 99%;
  border: 1px #ddd solid;
  height: 25px;
  background-color: #f0f0f0;
  box-shadow: inset 0px 0px 0px rgba(255,255,255,0.1), inset 0 -1px 1px rgba(161, 161, 161, 0.2);
}

.percentBar {
  background-color: #a3d35e;
  width: 50%;
  height: 25px;
  box-shadow: inset 0 1px 2px rgba(255,255,255,0.1), inset 0 -1px 5px rgba(72, 169, 0, 0.4);
  background-image: linear-gradient( -40deg, rgba(255, 255, 255, .2) 30%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
}

.uploadMessages {
  width: 100%;
  margin-top: 0px;
  min-height: 350px;
  max-height: 460px;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
}

.uploadPreList {
  width: 100px;
  height: 140px;
  float: left;
  margin-right: 12px;
}

.uploadPreList .actorImage {
  height: 100px;
  width: 100px;
  border: 1px #ccc solid;
  background-color: #f3f3f3;
}

.uploadPreList p {
  color: #555;
  line-height: 16px;
  font-size: 0.75em !important;
  margin-bottom: 0;
  font-weight: 500 !important;
  margin-top: 0 !important;
  width: 100%;
  max-height: 2.6em;
}

.thFail {
  border: 2px #fe653e solid !important;
}

.thSucess {
  border: 2px #fe653e solid !important;
}

.separateImgs {
  background-color: #F3F3F3;
  border-radius: 3px;
  margin-bottom: 5px;
  color: #555;
  font-size: 0.9em;
  padding: 2px;
}

.separateImgs span {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1em;
  margin-left: 5px;
  float: left;
}

.separateImgs i {
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}

.mensError p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 0.85em;
  float: left;
  font-weight: 400;
  margin-left: 5px;
}

.mensError i {
  float: left;
  font-size: 0.7em;
  margin-left: 20px;
  margin-top: 6px;
  margin-right: 5px;
  color: #fe653e;
}

.dragInfo {
  z-index: 9999;
  padding: 3px 5px;
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  font-size: 0.8em;
  margin-top: 165px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 8%;
  width: 12%;
  max-width: 30%;
}

.dragInfo i {
  margin-right: 5px;
}

.popupCropBanner .dragInfo {
  font-size: 0.8em;
  margin-top: 165px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 8%;
  width: 11%;
  max-width: 30%;
}

.popupCropLogo .dragInfo {
  font-size: 0.8em;
  margin-top: 89px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 10%;
  width: 20%;
  max-width: 40%;
}

.backPopupCrop {
  float: right;
  font-size: 0.8em;
  overflow: hidden;
  background-color: rgb(204, 204, 204);
  color: #333;
  font-weight: 600;
  margin-right: 5px;
  padding: 5px 10px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}

.imgName i {
  float: left;
  display: inline-block;
  margin-right: 5px;
  color: #888;
  width: auto;
}

.imgName p {
  font-size: 0.85em;
  color: #555;
  font-weight: 500;
  margin-bottom: 0;
  float: left;
  margin-top: -3px;
}

/* UPLOAD VIDEO */

.videoArea {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.videoAreaSub {
  height: 360px;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.uploadImgVideo {
  float: left;
}

.uploadImgVideo button.btn_submit {
  color: #b1892b;
  padding: 0;
  background-color: transparent;
}

.uploadImgVideo button.btn_submit a {
  font-size: 1em;
  font-weight: 500;
  color: #b1892b;
}

.uploadImgVideo button.btn_submit a:hover {
  text-align:underline;
}

.videoPost {
  box-shadow: 0 0px 1px rgba(0,0,0,0.5);
  margin-top: 10px;
  cursor: pointer;
}

.btn_play {
  background-color: rgba(51,51,51,0.5);
  padding: 10px 7px 10px 13px;
  border: 2px #fff solid;
  border-radius: 33px;
  width: 40px;
  font-size: 2.5em;
}

.playPreview {
  width: 100px;
  margin: 2em auto;
  text-align: center;
  position: absolute;
  color: #fff;
}

.playPreview .btn_play {
  font-size: 1.1em;
  width: 18px;
  padding: 7px 4px 7px 10px;
}

.playPreviewPost {
  width: 680px;
  position: absolute;
  color: #fff;
  margin: 0;
  text-align: center;
  cursor: pointer;  
}

.video_group {
  width: 100%;
}

.thFailVideo {
  height: 100px;
  width: 96px;
  background-color: #f3f3f3;
}

.thFailVideo i {
  margin-top: 1em;
  font-size: 2em;
  color: #ccc;
}