<div class="container">

<!-- filter by text in characters -->
    <!--<input [(ngModel)]="filterText" placeholder="search text goes here">
<ul>
  <li *ngFor="let c of characters | filterByName : filterText">
    {{c}}
  </li>
</ul>-->

<!-- <input [(ngModel)]="filterText" placeholder="search text goes here"> -->

<!-- btn btn-lg btn-primary btn-block -->

<input type="checkbox" (click)="getMale()" class="" />Male
<input type="checkbox" (click)="getFemale()" class=""/>Female

<div *ngIf="isMale">
<ul>

<h3>Male</h3>
<li *ngFor="let d of fakeData | filterByName : 'Male'">
    {{d.first_name}} {{d.last_name}} - {{d.gender}}
  </li>

</ul>
</div>

<div *ngIf="isFemale">
<ul>

<h3>Female</h3>
<li *ngFor="let d of fakeData | filterByName : 'Female'">
    {{d.first_name}} {{d.last_name}} - {{d.gender}}
  </li>

</ul>
</div>

<!--<ul>

<li *ngFor="let d of fakeData | filterByName : filterText">
    {{d.first_name}} {{d.last_name}} - {{d.gender}}
  </li>

</ul>-->

</div>
